.datasets,
.reports {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 420px);
  gap: 50px;
  padding: 60px 20px;
}

.datasets {
  &-item {
    & img {
      height: 94px;
      width: 94px;
    }
    min-height: 416px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 2px 5px -2px;
    border-radius: 2px;

    &-header {
      display: flex;
      align-items: center;
      height: 20%;
    }
    &-content {
      padding: 0 35px 15px 20px;
      height: 60%;
    }
    &-title {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      color: $neutrals-almost-black;
      margin-left: 5px;
      line-height: 28px;
      font-size: 24px;
      font-weight: 500;
    }
    &-text {
      font-family: 'Work Sans', sans-serif;
      line-height: 20px;
      font-size: 12px;
      color: #666666;
      padding-bottom: 14px;
    }
    &-types {
      padding-top: 8px;
      box-shadow: 0 -1px 0 0 #e7e7e7;
    }
    &-type {
      margin-bottom: 16px;
      &-title {
        font-family: 'Work Sans', sans-serif;
        margin: 0;
        font-size: 12px;
        color: $neutrals-dark-grey;
        margin-bottom: 5px;
      }
      &-text {
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 18px;
        font-size: 16px;
        margin: 0;
        color: $neutrals-almost-black;
        font-weight: bold;
      }
    }
    &-buttons {
      display: flex;
      background-color: $secondary-light-blue;
      height: 20%;
      &-line {
        margin-top: 7px;
        min-width: 1px;
        height: 70px;
        background-color: $neutrals-grey;
      }
      &-type {
        min-width: 140px;
        padding-bottom: 10px;
        cursor: pointer;
        &-disabled {
          cursor: auto;
          background-color: rgba(123, 160, 192, 0.2);
        }
        &:hover {
          background-color: rgba(123, 160, 192, 0.2);
        }
        &-img {
          display: grid;
          justify-content: center;
        }
        img {
          height: 65px;
        }
        p {
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: $primary-hague-blue;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .datasets,
  .reports {
    grid-template-columns: repeat(3, 420px);
  }
}
@media (max-width: 1140px) {
  .datasets,
  .reports {
    grid-template-columns: repeat(auto-fill, 415px);
    gap: 30px;
  }
  .datasets {
    &-item {
      height: 435px;
      &-types {
        min-height: 195px;
      }
      &-type {
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 915px) {
  .datasets,
  .reports {
    grid-template-columns: repeat(auto-fill, 315px);
  }
  .datasets {
    &-item {
      height: 460px;
      & img {
        height: 100px;
        width: 100px;
      }
      &-types {
        width: 275px;
        height: 205px;
      }
      &-title {
        line-height: 30px;
        font-size: 28px;
      }
      &-content {
        padding: 0 20px 15px 20px;
      }
      &-buttons {
        display: flex;
        width: 315px;
        &-type {
          min-width: 105px;
          img {
            height: 65px;
          }
        }
      }
    }
  }
}
